extends ../layouts/common

block content
    .row
        if products
            each product in products
                .col.col-lg-3.col-md-4.col-sm-6.col-12
                    .card.mt-4
                        img.card-img-top(src=product.image, alt=product.name)
                        .card-body
                            h5.card-title #{product.name}
                            p.card-text #{product.description}
                            a.btn.btn-primary(href='#') Buy now

    nav(aria-label='Page navigation example').mt-4
        ul.pagination.justify-content-end
            li.page-item
                a.page-link(href='/products?page=' + prev) Previous
            while length >= n
                li.page-item
                    a.page-link(href='/products?page=' + n ) #{n++}
            li.page-item
                a.page-link(href='/products?page=' + next) Next

